/* QUICK RESET */
* { margin: 0; padding: 0; }

/* HAX */
/* BOOTSTRAP*/
.container { overflow-x: hidden; }
/* SLICK */
.slick-dots li button:before { color: white; opacity: 0.5; }
.slick-dots li.slick-active button:before { color: white; opacity: 1; }

/* GENERAL STYLES */
a:hover, a:focus { text-decoration: none; }
ul { list-style: none; }
iframe { width: 100%; display: block; }
button:focus { outline: 0; }
img { width: 100%; }
p, ul { margin-bottom: 0; }
input:focus { outline: 0; }

/* MAIN STYLING */
/* 'Open Sans' 'Montserrat' 'Open Sans Condensed' 'Russo One' */
#carousel_wrapper { padding-left: 0; padding-right: 0; }
.slide { min-height: 100vh; min-height: -webkit-fill-available; font-family: 'Open Sans', sans-serif; background-color: #FFF; position: relative; }
.slide .container { position: relative; }

#index { background: 0; }
#inventory {}
#photos { background: #222; }
#contacts > div { padding: 0; }
#rent { position: relative; }


.address { padding: 8px 16px; }

.header_photos {
    color: #FFF;
    text-align: center;
    font-size: 2rem;
}

#logotext {
    position: absolute;
    padding: 8px 16px;
    display: none;
}
#logotext h3 {
    text-transform: uppercase;
    font-family: "Russo One";
    font-weight: bold;
    font-size: 3rem;    
}
#logotext h3 b {
    padding-left: 8px;
    padding-right: 8px;
    color: #ffd600;
    text-shadow: 1px 1px 4px #000;
}
#logotext h3 span { text-shadow: 1px 1px 4px #000; color: white; }

#nav { position: absolute; bottom: 0; right: 0; padding-right: 8px; display: none; }
#nav a {
    color: #222;
    display: block;
    text-align: right;
    font-size: 2rem;
    text-transform: uppercase;
    font-family: "Russo One";
}

.contact { background-color: coral; }
.phone { background-color: cornflowerblue; }

.section {
    color: white;
    font-family: "Montserrat";
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 0;
}

/* CLASSES */
.just_flex { display: flex; justify-content: center; align-items: center; }
.pulsating {    
    -webkit-animation: pulsating 2s ease-in infinite alternate; /* Safari 4.0 - 8.0 */
    animation: pulsating 2s ease-in infinite alternate;
}

/* ANIMATIONS */
@keyframes pulsating {
    from {
        transform: scale(0.975);
    }
    to {
        transform: scale(1);
    }
}

/* GRADIENTS */
.grf {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+0,ffffff+33,0000ff+34,0000ff+66,ff0000+67,ff0000+100 */
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #ffffff 33%, #0000ff 34%, #0000ff 66%, #ff0000 67%, #ff0000 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #ffffff 0%,#ffffff 33%,#0000ff 34%,#0000ff 66%,#ff0000 67%,#ff0000 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #ffffff 0%,#ffffff 33%,#0000ff 34%,#0000ff 66%,#ff0000 67%,#ff0000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ff0000',GradientType=0 ); /* IE6-9 */
}